@import "https://fonts.googleapis.com/css2?family=Inter:wght@100;200;300;400;500;600;700;800;900&display=swap";

$typography-grey: #b8b8b8;
$white: #fff;
$orange: #ff5e00;
$palette-orange: #FAC09E;
$main-gray: #3d3d3d;
$typography-headings: #292929;
$main-dark: #292929;
$typography-light-grey: #e0e0e0;
$palette-grey: #ccc;
$typography-dark-gray: #666;

body {
  font-family: Inter, sans-serif;
  font-style: normal;
  background-color: #F5F5F5;
}

.conteiner{
  position: relative;
  max-width: 1312px;
  width: 100%;
  height: 100%;
  margin: 0 auto;
  padding: 0 16px;
}

.button {
  &__primary {
    background-color: $orange;
    color: $white;
    border-radius: 6px;
    border: none;
  }

  &__circkle {
    vertical-align: bottom;
    width: 56px;
    height: 56px;
    background-color: $white;
    border-radius: 50%;
    border: 1px solid $palette-orange
  }

  &__outline {
    border-radius: 6px;
    background-color: rgba(0, 0, 0, 0);
    border: 1px solid #ccc;
  }

  &__medium {
    padding: 8px 20px;
    height: 40px;
  }

  &__large {
    padding: 16px 16px 16px 24px;
  }

  &__arrow-right {
    display:flex;
    justify-content: space-between;
    align-items: baseline;
  }
}

.tittle {
  margin: 0;
  font-weight: 700;
  font-size: 48px;
  line-height: 56px;

  &__small {
    font-weight: 700;
    font-size: 24px;
    line-height: 32px;
  }

  &__large {
    font-weight: 700;
    font-size: 36px;
    line-height: 48px;
  }

  &__xtra-large {
    font-weight: 700;
    font-size: 60px;
    line-height: 64px;
  }

  &__black {
    color: $typography-headings;
  }

  &__orange {
    color: $orange;
  }

  &__gray {
    color: $palette-grey;
  }
}

.text {
  margin: 0;
  font-weight: 400;
  font-size: 16px;
  line-height: 28px;

  &__xtra-small{
    font-weight: 400;
    font-size: 14px;
    line-height: 24px;
  }

  &__small {
    font-weight: 500;
    font-size: 12px;
    line-height: 16px;
  }

  &__large {
    font-weight: 400;
    font-size: 18px;
    line-height: 32px;
  }

  &__tiny {
    font-weight: 500;
    font-size: 14px;
    line-height: 24px;
  }

  &__bold {
    font-weight: 600;
    font-size: 14px;
    line-height: 24px;
  }

  &__xtra-bold {
    font-weight: 600;
    font-size: 18px;
    line-height: 24px;
  }

  &__name {
    font-weight: 600;
    font-size: 18px;
    line-height: 28px;
  }

  &__black {
    color: $main-gray;
  }

  &__gray {
    color: $typography-grey;
  }

  &__dark-grey {
    color: $typography-dark-gray
  }

  &__light-grey {
    color:$typography-light-grey;
  }

  &__white {
    color: $white;
  }

  &__orange {
    color: $orange;
  }
}

.link {
  text-decoration: none;
}

.link:hover {
  color: $orange;
}

.item {
  
  &__menu{
    display: flex;
    align-items:center;
  }
  
}

.bubble{
  position: absolute;
  border-radius: 50%;
  &__orange {
    background: radial-gradient(72.33% 86.91% at 26.44% 13.09%, #FCC8AE 12.69%, #FF6221 64.54%, #FE8C5A 79.65%, #FCC8AE 89.02%);
    box-shadow: 12px 24px 48px rgba(255, 108, 37, 0.32);
    &--solid{
      background: linear-gradient(267.87deg, #F5803D 0%, #FF5E00 100%);
      box-shadow: 12px 24px 48px rgba(255, 108, 37, 0.32);
    }

    &--gradient {
      box-shadow: 12px 24px 48px rgba(255, 108, 37, 0.32);
    }
  }

  &__white {
    background: rgba(255, 255, 255, 0.6);
    box-shadow: 12px 20px 32px 2px rgba(209, 197, 188, 0.16);
    backdrop-filter: blur(12px);
    border: 2px solid #FFFFFF;
  }

  &__grey {
    background: radial-gradient(91.53% 81.73% at 35.1% 31.73%, #525252 0%, #292929 48.86%, #141414 78.46%);
    opacity: 0.3;
    border: 2px solid #8F8F8F;
  }

  &__black {
    background: radial-gradient(91.53% 81.73% at 35.1% 31.73%, #525252 0%, #292929 48.86%, #141414 78.46%);
    box-shadow: 12px 24px 48px 12px rgba(20, 20, 20, 0.32);
    transform: matrix(-1, 0, 0, 1, 0, 0);
  }
}

.space-between{
  display: flex;
  justify-content: space-between;
}

.header {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  z-index: 2;
  min-height: 72px;
  box-shadow: 8px 16px 32px rgb(0 0 0 / 3%);
  background-color: $white;
  &__button{
    margin-left:16px ;
  }
}

.header-conteiner {
  display: flex;
  align-items: center;
  margin: auto;
  max-width: 1440px;
  padding: 16px 64px;
}

.logo {
  width: 100px;
  height: 32px;
  margin-right: 16px;
}

.header-navigation {
  display: flex;
  max-height: 50px;
  &__item {
    margin-left: 24px;
  }
  &__button{
    margin-left: 16px;
  }
  &__img {
    width: 16px;
    height: 16px;
    margin-left: 4px;
  }
}

.flexible-block {
  width: auto;
  margin: auto;
}

.home-screen {
  display: flex;
  justify-content: space-between;
  margin-top: 72px;
  margin-bottom: 96px;
  &__img{
    width: 640px;
    height: 480px;
    margin-top: 80px;
  }
}

.schedule-a-meeting {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  margin: 160px 0 80px;
  &__button {
    max-width: 256px;
  }
}

.partners {
  position: absolute;
  width: 100%;
  max-height: 80px;
  overflow: hidden;
}

.how-it-works {
  margin-top: 336px;
  &__button{
    width: 300px;
    margin: 48px auto 0;
  }
}

.how-it-works-steps {
  list-style-type: none;
  padding: 0;
  margin-top: 48px;
  &__step {
    display: flex;
    justify-content: space-between;
    align-items: center;
    max-height: 112px;
    padding: 48px 0;
    border-bottom: 1px solid #d0d1d2;
  }

  &__text {
    width: 592px;
    margin: 0 80px;
    padding: 0 auto 0 32px;
  }

  &__number {
    margin-right: 69px;
  }
}

.count {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 160px;
  &__tittle{
    margin-bottom: 8px;
  }
}

.count-value {
  display: flex;
  margin-top: 64px;
  &__number{
    width: 24px;
    height: 48px;
    padding: 20px;
    background-color: $white;
    border-radius: 8px;
    margin: 0 2px;
    text-align: center;
  }
}

.count-bubble {
  &__orange {
    width: 64px;
    height: 64px;
    left: calc(50% - 64px/2 + 214px);
    top: calc(50% - 64px/2 + 36px);
  }

  &__white {
    width: 196px;
    height: 196px;
    left: calc(50% - 196px/2 - 300px);
    top: calc(50% - 196px/2 - 109.38px);
    z-index: -2;
  }
}

.service-packages {
  margin-top: 160px;
  overflow: hidden;
}
.service-packages-plan {
  margin-top: 64px;
  padding: 64px;
  border-radius: 32px;
  background: linear-gradient(225deg, #3D3D3D 0%, #292929 100%);
  &__bubble {
    &--orange {
      width: 128px;
      height: 128px;
      left: -80px;
      top: 350px;
    }
    &--black {
      width: 160px;
      height: 160px;
      right: -55px;
      top: 180px;
    }
  }
}
.package-table {
  text-align: center;
  width: 100%;
  border-spacing: 32px 8px;
  &__heading {
    text-align: start;
  }
  &__row {
    &--heading {
      margin-bottom: 24px;
    }
  }
}

.brian-hicks {
  margin-top: 160px;
  &__tittle{
    margin-bottom: 160px;
  }
}

.brian-hicks-interview {
  display: flex;
  justify-content: space-around;
  max-height: 588px;
}

.interview-photo {
  max-height: 560;
  padding: 0 32px;
}

.interview-content {
  padding: 32px;
  &__tittle {
    margin: 32px 0;
  }
}

.explore-service {
  display: flex;
  align-items:baseline;
  justify-content: space-between;
  max-width: 225px;
  margin-top: 32px;
}

.brian-hicks-bubble {
  &__white {
    width: 256px;
    height: 256px;
    right: -124px;
    top: -64px;
  }

  &__orange {
    width: 64px;
    height: 64px;
    right: 148px;
    top: -64px;
  }
}

.results {
  margin-top: 160px;
}

.results-box {
  display: flex;
  justify-content: space-between;
}

.results-block {
  margin-top: 64px;
  padding: 48px 32px;
  background: $white;
  box-shadow: 8px 16px 32px 2px rgba(22, 23, 24, 0.02);
  border-radius: 16px;
  &__divider{
    width: 246px;
    height: 1px;
    margin: 32px 0;
    background: #E0E0E0;
  }
  &__text {
    margin-top: 24px;
  }
}

.getting-clients {
  display:flex;
  justify-content: space-between;
  align-items: center;
  margin-top: 160px;
  border-radius: 32px;
  background: rgba(255, 255, 255, 0.8);
  &__img {
    margin: 16px 16px 16px 0
  }
}

.ready-to-start {
  margin-left: 64px;
  &__text {
    margin: 16px 0 32px;
  }

  &__button{
    width: 256px;
    height: 56;
  }
}

.clients-review {
  margin-top: 160px;
}

.clients-review-header {
  text-align: center;
  &__text{
    margin-top: 24px;
  }
}

.reviews {
  display: grid;
  grid-template-areas: 
    ' lion-energy lion-energy';
  gap: 32px;
}

.lion-energy { 
  grid-area: lion-energy;
}

.case-studies {
  padding: 32px;
  background: rgba(255, 255, 255, 0.8);
  backdrop-filter: blur(10px);
  border-radius: 16px;
}

.case-studies-block {
  width: 178px;
  height: 82px;
  padding: 18px 20px 24px;
  border: 1px solid #FCE0D0;
  border-radius: 10px;
}

.tag {
  width: 76px;
  height: 16px;
  padding: 10px 16px;
  background: #292929;
  border-radius: 56px;
}

.faq {
  margin-top: 160px;
  &__tittle{
    margin: 0 0 64px;
  }
  &__bubble{
    &--orange{
      width: 128px;
      height: 128px;
      right: 208px;
      top: 158px;
    }
    &--white{
      width: 256px;
      height: 256px;
      right: 16px;
      top: 64px;
    }
  }
}

.question {
  display: flex;
  margin-top: 24px;
  max-width: 579px;
  padding: 16px 32px 16px 24px;
  border-radius: 32px;
  background: $white;
  &__image{
    margin-right: 12px;
  }
}

.seo-block {
  display: flex;
  justify-content: space-between;
  align-items:center;
  margin-top: 160px;
  padding: 40px;
  &__text {
    margin-top: 8px;
  }

  &__bubble {
    &--white {
      width: 192px;
      height: 192px;
      left: calc(50% - 192px/2 + 320px);
      top: calc(50% - 192px/2 + 96px);
    }
    &--orange {
      width: 64px;
      height: 64px;
      left: calc(50% - 64px/2 + 136px);
      top: calc(50% - 64px/2 - 92px);
    }
  }
}

.cta-form {
  margin-top: 160px;
  padding: 160px 0;
  background:$main-dark;
  overflow: hidden;
  &__bubble {
    &--big-grey {
      width: 460px;
      height: 460px;
      left: 1010px;
      bottom: -365px;
    }

    &--small-grey {
      width: 160px;
      height: 160px;
      left: calc(50% - 160px/2);
      top: -225px;
    }

    &--big-orange{
      width: 128px;
      height: 128px;
      right: -90px;
      top: 128px;
    }

    &--small-orange{
      width: 80px;
      height: 80px;
      left: 950px;
      bottom: 55px;
    }
  }
}

.cta-content {
  display:flex;
  justify-content: space-between;
  margin-bottom: 64px;
}

.cta-info {
  &__button{
    width: 214px;
    margin-top: 20px;
  }

  &__text{
    margin: 20px 0 40px;
  }
}

.cta-statistic {
  width: 560px;
  padding-left: 32px;
  &__item{
    display: flex;
    align-items: center;
    margin-top: 24px;
    max-height: 64px;
  }

  &__dot{
    margin: 0 32px;
    width: 8px;
    height: 8px;
    border-radius: 50%;
    background: $typography-dark-gray;
  }

  &__value{
    width: 140px;
  }

  &__tittle{
    margin-bottom: 8px;
  }
}

.awards {
  &__icons{
    margin-top: 32px;
  }
}

.footer {
  padding: 56px 48px 40px;
}

.footer-top {
  display: flex;
  justify-content: space-between;
  margin-bottom: 64px;
}

.footer-contacts {
  margin: 62px 0;
}

.footer-navigation{
  display: flex;
  justify-content: space-between;
}

.navigation-block {
  display: flex;
  flex-direction: column;
  margin-left: 75px;
  max-height: 50px;
  min-width: 108px;
  &__text {
    margin-bottom: 8px;
  }
}

.bottom {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.policy {
  margin-left: 203px;
  &__link {
    margin-left: 35px;
  }
  &__link:hover{
    color: $typography-grey;
  }
}
