@import "https://fonts.googleapis.com/css2?family=Inter:wght@100;200;300;400;500;600;700;800;900&display=swap";

$typography-grey: #b8b8b8;
$white: #fff;
$orange: #ff5e00;
$palette-orange: #FAC09E;
$typography-body: #3d3d3d;
$typography-headings: #292929;
$main-dark: #292929;
$typography-light-grey: #e0e0e0;
$palette-grey: #ccc;
$typography-dark-grey: #666;

body {
  font-family: Inter, sans-serif;
  font-style: normal;
  background-color: #F5F5F5;
}

.header {
  box-sizing:border-box;
  padding: 16px 0;
  height: 72px;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  z-index: 10;
  background-color: $white;
}

.header__container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  max-width: 1312px;
  padding: 0 16px;
  margin: 0 auto;
  @media (max-width: 1280px) {
    max-width: 1120px;
  }

  @media (max-width: 1000px) {
    max-width: 952px;
  }

  @media (max-height: 360px) {
    max-width: 328px;
  }
}

.header__block {
  display: flex;
  align-items: center;
}

.nav-mobile__button {
  cursor: pointer;
  margin-right: 40px;
  padding: 0;
  background: none;
  border: none;
  @media (min-width: 1201px) {
    display: none;
    cursor: none;
  }
  
  @media (max-width: 576px) {
    margin-right: 24px;
  }
}

.header__logo {
  position: relative;
  z-index: 5;
  width: 81px; 
  height: 25px;
  @media (max-width: 1200px) {
    width: 80px;
  }
}

.header__menu {
  display: flex;
  margin: 0 auto 0 40px;
  @media (max-width: 1200px) {
    display: none;
  }
}

.menu__item {
  display: flex;
  align-items: center;
  vertical-align: baseline;
  margin-left: 24px;
}

.menu__item:hover {
  cursor: pointer;
  filter: invert(44%) sepia(55%) saturate(5788%) hue-rotate(6deg) brightness(109%) contrast(102%);
}

.menu__text {
  margin-right: 4px;
  color: $typography-body;
  font-weight: 500;
  font-size: 14px;
  line-height: 24px;
}

.menu__link {
  text-decoration: none;
}

.header__buttons-block {
  margin-left: auto;
}

.button {
  cursor: pointer;
  border-radius: 6px;
}

.button_primary {
  padding: 8px 20px;
  background-color: $orange;
  color: $white;
  font-weight: 600;
  font-size: 14px;
  line-height: 24px;
  border: 1px solid $orange;
}

.button_primary:hover {
  opacity: 0.8;
}

.header__button {
  cursor: pointer;
  border-radius: 6px;
  margin-right: 16px;
  padding: 8px 20px;
  background-color: rgba(0, 0, 0, 0);
  border: 1px solid #ccc;
  font-weight: 500;
  font-size: 14px;
  line-height: 24px;
  &:hover {
    color: $orange;
    border: 1px solid $orange;
    opacity: 0.8;
  }
  @media (max-width: 576px) {
    display: none;
  }
}

.home-screen {
  display: flex;
  justify-content: space-between;
  align-items: center;
  vertical-align: middle;
  max-width: 1312px;
  padding: 0 16px;
  margin: 170px auto 0;
  @media (max-width: 1280px) {
    max-width: 1120px;
  }

  @media (max-width: 1000px) {
    max-width: 952px;
  }

  @media (max-width: 360px) {
    max-width: 328px;
  }
}

.title {
  margin: 0 0 24px;
  font-weight: 700;
  font-size: 60px;
  line-height: 64px;
  color: $typography-headings;
  @media (max-width: 1000px) {
    font-weight: 700;
    font-size: 36px;
    line-height: 48px;
  }
}

.home-screen-content__text {
  margin: 0 0 48px ;
  max-width: 430px;
  color: $typography-body;
  font-weight: 400;
  font-size: 18px;
  line-height: 32px;
  @media (max-width: 600px) {
    max-width: 328px;
    font-weight: 400;
    font-size: 16px;
    line-height: 28px;
  }
}

.button_arrow-right {
  display: flex;
  justify-content: space-between;
  width: 256px;
  align-items: center;
  padding: 16px 10px 16px 24px;
  font-weight: 600;
  font-size: 18px;
  line-height: 24px;
  background-color: $orange;
  color: $white;
  border: 1px solid $orange;
  &:hover {
    opacity: 0.8;
  }
}

.home-screen__img {
  position: relative;
  left: -15%;
  top: 3.75%;
  bottom: 3.75%;
  @media (max-width: 1200px) {
    width: 328px;
    height: 304px;;
    left: -8%;
  }

  @media (max-width: 900px) {
    display: none;
  }

}

.partner-logo {
  display: none;
  position: relative;
  animation-name: partners-animation;
  animation-duration: 200s;
  animation-iteration-count: infinite;
  animation-timing-function: linear;
}

.partners {
  margin-top: 96px;
  max-height: 80px;
  overflow: hidden;
  @media (max-width: 600px) {
    max-height: 240px;
  } 
}

.partners__banner {
  width: 5000px;

  @media (max-width: 600px) {
    width: 2100px
  }
}

@keyframes partners-animation {
  0% {transform: translateX(0)};
  100%{transform: translateX(-10000px)};
}

.how-it-works {
  max-width: 1312px;
  padding: 0 16px;
  margin: 0 auto;
  @media (max-width: 1200px) {
    margin: 128px 0 0;
  }

  @media (max-width: 800px) {
    margin: 108px 0 0;
  }
}

.sub-title {
  margin: 160px 0 0 0;
  font-weight: 700;
  font-size: 48px;
  line-height: 56px;
  color:$typography-headings;

  @media (max-width: 800px) {
    font-weight: 700;
    font-size: 24px;
    line-height: 32px;
  }
}

.how-it-works-list {
  padding: 0;
  margin-top: 48px;
  list-style-type: none;
}

.how-it-works-list__item {
  display: flex;
  border-bottom: 1px solid $typography-light-grey;
  align-items: center;
  justify-content: space-between;

  @media (max-width: 800px) {
    flex-direction: column;
    align-items: flex-start;
  }
}

.how-it-works-list__active {
  @media (min-width: 1200px) {
    .how-it-works-list__count {
      color: $orange;
    }

    .how-it-works-list__big-text {
      color: $orange;
    }

    .how-it-works-list__text {
      color: $typography-body;
    }
  }
}

.how-it-works-list__label {
  display: flex;
  @media (max-width: 1200px) {
    justify-content: space-between;
    flex-direction: column-reverse;
    height: 140px;
  }

  @media (max-width: 800px) {
    flex-direction: row;
    max-height: 33px;
    margin-top: 32px;
  }
}

.how-it-works-list__count {
  margin-right: 37px;
  font-weight: 700;
  font-size: 36px;
  line-height: 48px;
  color: $palette-grey;
  @media (max-width: 1200px) {
    color: $typography-light-grey;
  }

  @media (max-width: 950px) {
    margin-right: 12px;
    font-weight: 700;
    font-size: 24px;
    line-height: 32px;
    color: $typography-grey;
  }
}

.how-it-works-list__big-text {
  font-weight: 700;
  font-size: 36px;
  line-height: 48px;
  color: $palette-grey;
  @media (max-width: 1200px) {
    color: $typography-body;
  }

  @media (max-width: 950px) {
    font-weight: 700;
    font-size: 24px;
    line-height: 32px;
    color: $typography-headings;
  }
}

.how-it-works-list__text {
  max-width: 592px;
  margin: 48px 0;
  font-weight: 400;
  font-size: 16px;
  line-height: 28px;
  color: $typography-grey;
  @media (max-width: 1200px) {
    max-width: 448px;
    color: $typography-dark-grey;
  }

  @media (max-width: 800px) {
    margin: 0 0 32px 0;
    max-width: 328px;
    color: $typography-body;
  }
}

.how-it-works-button {
  display: flex;
  justify-content: center;
  margin-top: 48px;
  &:hover {
    opacity: 0.8;
  }

  @media (max-width: 800px) {
    margin-top: 32px;
  }
}

.button_arrow-right-big {
  display: flex;
  justify-content: space-between;
  width: 300px;
  align-items: center;
  padding: 16px 10px 16px 24px;
  font-weight: 600;
  font-size: 18px;
  line-height: 24px;
  background-color: $orange;
  color: $white;
  border: 1px solid $orange;
}

.count {
  position: relative;
  margin: 0 auto;
  text-align: center;
}

.count__title {
  margin: 200px 0 0 0;
  font-weight: 700;
  font-size: 48px;
  line-height: 56px;
  color: $typography-body;
  @media (max-width: 1200px) {
    margin: 168px 0 0 0;
  }
  
  @media (max-width: 800px) {
    margin: 172px 0 0 0;
    font-weight: 700;
    font-size: 24px;
    line-height: 32px;
  }
}

.count__text {
  margin: 8px 0 0;
  font-weight: 400;
  font-size: 18px;
  line-height: 32px;
  color: $typography-dark-grey;
  @media (max-width: 800px) {
    margin: 4px 0 0;
    font-weight: 400;
    font-size: 16px;
    line-height: 28px;
  }
}

.count__value {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 64px auto 40px;
  max-width: 404px;
  @media (max-width: 800px) {
    max-width: 272px;
    margin: 32px auto 0;
  }
}

.count__block {
  padding: 20px;
  background-color: $white;
  border-radius: 8px;
  border: 1px solid $white; 
  @media (max-width: 800px) {
    padding: 12px;
  }
}

.count__number {
  margin: 0;
  font-weight: 700;
  font-size: 36px;
  line-height: 48px;
  color: $typography-headings;
  @media (max-width: 800px) {
    font-weight: 700;
    font-size: 24px;
    line-height: 32px;
  }
}

.bubble {
  position: absolute;
}

.bubble-count_white {
  z-index: -1;
  left: calc(50% - 98px - 326px);
  top: calc(50% - 98px - 127.38px);
  @media (max-width: 800px) {
    left: calc(50% - 98px - 185px);
    top: calc(50% - 98px - 54px);
  }
}

.bubble-count_orange {
  left: calc(50% - 32px + 179px);
  top: calc(50% - 32px + 9px);
  @media (max-width: 800px) {
    left: calc(50% - 32px + 128px);
    top: calc(50% - 32px + -23px);
  }
}
 
.service-packages {
  margin: 160px auto 0;
  padding: 0 16px;
  max-width: 1312px;
  @media (max-width: 950px) {
    display: none;
  }
}

.service-packages__table {
  position: relative;
  overflow: hidden;
  margin-top: 64px;
  padding: 64px;
  border-radius: 32px;
  background: linear-gradient(225deg, #3D3D3D 0%, #292929 100%);
}

.table {
  display: grid;
  margin-bottom: 48px;
}

.table__row {
  display: grid;
  grid-template-columns: minmax(256px, 350px) minmax(145px, 197px) minmax(145px, 197px) minmax(145px, 197px);
  grid-auto-rows: minmax(56px, auto);
  gap: 64px;
  align-items: center;
  @media (max-width: 1100px) {
    grid-template-columns: minmax(256px, 550px) 143px 143px 143px;
    column-gap: 20px;
  }
}

.divider {
  width: 100%;
  height: 0;
  border-bottom: 1px solid $typography-body;
}

.table__row_heading {
  margin-bottom: 32px;
}

.table__row_hover {
  &:hover{
    background-color: $typography-dark-grey;
    border-radius: 8px;
    .table__text {
      color: $typography-light-grey;
    }

    .table__text_small {
      color: $typography-light-grey;
    }
  }
}

.table__buttons {
  display: grid;
  grid-template-columns: minmax(256px, 350px) minmax(149px, 197px) minmax(149px, 197px) minmax(149px, 197px);
  gap: 64px;
  align-items: center;
  @media (max-width: 1100px) {
    grid-template-columns: minmax(256px, 550px) 149px 149px 149px;
    gap: 20px;
  }
}

.table__title {
  font-weight: 700;
  font-size: 24px;
  line-height: 32px;
  color: $orange;
}

.table__block {
  text-align: center;
}

.table__text {
  font-weight: 600;
  font-size: 14px;
  line-height: 24px;
  color: $typography-grey;
}

.table__text_small {
  font-weight: 400;
  font-size: 14px;
  line-height: 24px;
  color: $typography-grey;
}

.table__text_orange {
  color: $orange;
}

.table__text_grey {
  color: $typography-grey;
}

.table__button {
  padding: 8px 20px;
  background-color: rgba(0, 0, 0, 0);
  border: 1px solid #ccc;
  font-weight: 500;
  font-size: 14px;
  line-height: 24px;
  color: $white;
  &:hover {
    border: 1px solid $orange;
    color: $orange;
  }
}

.table__bubble_orange {
  width: 228px;
  height: 228px;
  left: -116px;
  top: 242px;
}

.table__bubble_black {
  width: 160px;
  height: 160px;
  right: -80px;
  top: 40px;
  background: radial-gradient(91.53% 81.73% at 35.1% 31.73%, #525252 0%, #292929 48.86%, #141414 78.46%);
  box-shadow: 12px 24px 48px 12px rgba(20, 20, 20, 0.32);
  border-radius: 81.9898px;
  transform: matrix(-1, 0, 0, 1, 0, 0);
}

.brian-hicks {
  position: relative;
  box-sizing: border-box;
  margin: 0 auto;
  padding: 0 16px;
  max-width: 1344px;
}

.brian-hicks__title {
  margin: 160px 0 160px 92px;
  font-weight: 700;
  font-size: 60px;
  line-height: 64px;
  background: linear-gradient(267.87deg, #F5803D 0%, #FF5E00 100%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  background-clip: text;
  text-fill-color: transparent;
  @media (max-width: 1280px) {
    margin: 160px 0;
    width: 450px;
  }

  @media (max-width: 1000px) {
    margin: 128px 0 160px;
  }

  @media (max-width: 800px) {
    margin: 108px 0 64px;
    width: 328px;
    font-weight: 700;
    font-size: 48px;
    line-height: 56px;
  }
}

.interview {
  display: flex;
  justify-content: space-between;
  @media (max-width: 900px) {
    display: block;
  }
}

.interview__photo {
  height: 560px;
  margin-left: 92px;
  @media (max-width: 1280px) {
    margin: 0;
  }

  @media (max-width: 480px) {
    height: 442px;
  }
}

.interview-content {
  box-sizing:border-box;
  padding: 32px 80px 32px 32px;
  @media (max-width: 1280px) {
    max-width: 448px;
    margin: 0 auto;
    padding: 0;
  }

  @media (max-width: 1000px) {
    max-width: 416px;
    margin: 0;
  }
}

.interview-content__text-name {
  margin: 0;
  font-weight: 600;
  font-size: 18px;
  line-height: 24px;
  color: $typography-body;
  @media (max-width: 900px) {
    margin-top: 44px;
  }
}

.interview-content__text-role {
  font-weight: 400;
  font-size: 18px;
  line-height: 32px;
  color: $typography-grey;
}

.interview-content__text-label {
  margin: 32px 0;
  max-width: 424px;
  font-weight: 700;
  font-size: 36px;
  line-height: 48px;
  color: $typography-headings;
  @media (max-width: 480px) {
    margin: 24px 0;
    max-width: 328px;
    font-weight: 700;
    font-size: 24px;
    line-height: 32px;
  }
}

.interview-content__text {
  margin: 0 0 32px;
  max-width: 528px;
  font-weight: 400;
  font-size: 16px;
  line-height: 28px;
  color: $typography-body;
  @media (max-width: 480px) {
    max-width: 328px;
  }
}

.explore-service {
  display: flex;
  align-items: center;
  vertical-align: middle;
  margin: 0;
}

.button-circle {
  cursor: pointer;
  height: 56px;
  width: 56px;
  border-radius: 50%;
  background-color: transparent;
}

.button-circle_white {
  border: 1px solid $palette-orange;
  &:hover {
    background-color: $palette-orange;
    border: 1px solid $white;
    .button-circle__img{
      filter: white;
    }
  }
}

.explore-service__text {
  margin-left: 20px;
  font-weight: 600;
  font-size: 18px;
  line-height: 24px;
}

.brian-hicks__bubble_white {
  width: 334px;
  height: 334px;
  right: -124px;
  top: -64px;
  @media (max-width: 480px) {
    width: 167px;
    height: 167px;
    right: -64px;
    top: -44px;
  }
}

.brian-hicks__bubble_orange {
  width: 160px;
  height: 160px;
  right: 148px;
  top: -64px;
  @media (max-width: 480px) {
    width: 80px;
    height: 80px;
    right: 37.1px;
    top: -24px;
  }
}

.solutions {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 96px auto 100px;
  padding: 0 16px;
  max-width: 1312px;
}

.solutions__list {
  list-style: none;
  padding: 0;
}

.solutions__item {
  box-sizing: border-box;
  margin-top: 32px;
  padding: 40px;
  max-width: 584px;
  background-color: $white;
  border-radius: 24px;
  opacity: 0.6;
}

.solutions__item_active {
  opacity: 1;
}

.solutions__heading {
  pointer-events: none;
  display: flex;
}

.solutions__img {
  margin-right: 17px;
}

.solutions__sub-title {
  font-weight: 700;
  font-size: 24px;
  line-height: 32px;
  color: $typography-headings;
}

.solutions__text {
  pointer-events: none;
  margin: 24px 0 32px;
  font-weight: 400;
  font-size: 16px;
  line-height: 28px;
  color: $typography-dark-grey;
}

.solutions__link {
  font-weight: 500;
  font-size: 14px;
  line-height: 24px;
  text-decoration: none;
  color: $typography-body;
}

.solutions__content {
  position: relative;
}

.solutions__title {
  margin-bottom: 48px;
  max-width: 380px;
  font-weight: 700;
  font-size: 36px;
  line-height: 48px;
  color: $typography-headings;
}

.solution__quote {
  position: absolute;
  z-index: -2;
}

.solutions__quote_left {
  top: 150px;
  left: calc(50% - 77px + 156px);
}

.solutions__quote_right {
  top: 150px;
  left: calc(50% - 77px + 253px);
}

.quote {
  display: none;
  box-sizing:border-box;
  max-width: 552px;
  padding: 48px;
  background-color: $white;
  border-radius: 24px;
}

.quote_active {
  display: block;
}

.quote__top {
  display: flex;
}

.quote__photo {
  margin-bottom: 20px;
  width: 80px;
  height: 80px;
  border-radius: 50%;
}

.customer-name {
  margin: 0 auto 0 24px;
}

.customer-name__title {
  font-weight: 700;
  font-size: 24px;
  line-height: 32px;
  color: $typography-headings;
}

.customer-name__text {
  font-weight: 400;
  font-size: 14px;
  line-height: 24px;
  color: $typography-grey;
}

.quote__text {
  font-weight: 400;
  font-size: 18px;
  line-height: 32px;
  color: $typography-body;
}

.quote__img {
  width: 24px;
  height: 24px;
}

.getting-clients {
  padding: 0 16px;
  max-width: 1312px;
  margin: 100px auto 0;
}

.getting-clients__container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 16px;
  border-radius: 32px;
  background: rgba(255, 255, 255, 0.8);
  @media (max-width: 850px) {
    flex-direction: column-reverse;
    max-width: 328px;
    margin: 0 auto;
    border-radius: 16px;
  }
}

.getting-clients__img {
  margin: 16px 16px 16px 0;
  @media (max-width: 1300px) {
    display: none;
  }

  @media (max-width: 850px) {
    display: block;
    width: 296px;
    height: 192px; 
    margin: 0;
  }
}

.getting-clients__small-img {
  display: none;
  @media (max-width: 1300px) {
    display: block;
    width: 402px;
    height: 376px;
  }
  @media (max-width: 850px) {
    display: none;
  }
}

.ready-to-start {
  max-width: 366px;
  margin: 64px 0 64px 64px;
  @media (max-width: 850px) {
    max-width: 280px;
    margin: 32px 16px 24px;
    padding: 8px;
  }
}

.ready-to-start__title {
  font-weight: 700;
  font-size: 48px;
  line-height: 56px;
  color: $typography-headings;
  @media (max-width: 950px) {
    font-weight: 700;
    font-size: 36px;
    line-height: 48px;
  }
}

.ready-to-start__text {
  font-weight: 400;
  font-size: 18px;
  line-height: 32px;
  color: $typography-body;
  margin: 48px 0 16px 0;
}

.ready-to-start_button {
  display: flex;
  justify-content: space-between;
  width: 256px;
  align-items: center;
  padding: 16px 22px 16px 24px;
  font-weight: 600;
  font-size: 18px;
  line-height: 24px;
  background-color: $orange;
  color: $white;
  border: 1px solid $orange;
  &:hover {
    opacity: 0.8;
  }
  @media (max-width: 850px) {
    width: 280px;
  }
}

.results {
  max-width: 1312px;
  margin: 0 auto;
  padding: 0 16px;
}

.results-block {
  display: flex;
  justify-content: space-between;
}

.results-block__item {
  box-sizing: border-box;
  max-width: 310px;
  margin-top: 64px;
  padding: 48px 32px;
  background: $white;
  box-shadow: 8px 16px 32px 2px rgba(22, 23, 24, 0.02);
  border-radius: 16px;
  opacity: 0.6;
}

.results-block__item_active {
  opacity: 1;
  .results-block__value::after {
    border-bottom: solid 1px $palette-orange;
  }
}

.results-block__value {
  font-weight: 700;
  font-size: 60px;
  line-height: 64px;
  background: linear-gradient(267.87deg, #FF7426 0%, #FF5F21 100%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  &::after {
    display:block;
    margin: 32px 0;
    content: "";
    border-bottom: solid 1px $palette-grey;
  }
}

.results-block__title {
  margin-bottom: 24px;
  font-weight: 700;
  font-size: 24px;
  line-height: 32px;
  color: $typography-headings;
}

.results-block__text {
  font-weight: 400;
  font-size: 14px;
  line-height: 24px;
  color: $typography-dark-grey;
}

.clients-review {
  display: none;
  margin-top: 160px;
}

.clients-review-header {
  text-align: center;
  &__text{
    margin-top: 24px;
  }
}

.reviews {
  display: grid;
  margin-top: 80px;
  grid-template-areas: 
    'case-studies case-studies stephen-skeel stephen-skeel stephen-skeel'
    'case-studies case-studies ivan-talaychuk ivan-talaychuk podcast'
    'pedro-morgado pedro-morgado ivan-talaychuk ivan-talaychuk g2'
    'matt-gallagher matt-gallagher matt-gallagher lion-energy lion-energy'
    'library ekaterina-sushchevskaya ekaterina-sushchevskaya lion-energy lion-energy'
    'clutch ekaterina-sushchevskaya ekaterina-sushchevskaya alan-morte alan-morte';
  gap: 32px;
}

.some-case-studies { grid-area: case-studies; }

.stephen-skeel { grid-area: stephen-skeel; }

.pedro-morgado { grid-area: pedro-morgado; }

.alan-morte { grid-area: alan-morte; }

.ivan-talaychuk { grid-area: ivan-talaychuk; }

.lion-energy { grid-area: lion-energy; }

.ekaterina-sushchevskaya { grid-area: ekaterina-sushchevskaya }

.g2-revieew { grid-area: g2; }

.clutch-review { grid-area: clutch; }

.how-to-library { grid-area: library; }

.matt-gallagher { grid-area: matt-gallagher; }

.growth-podcast { grid-area: podcast; }

.case-studies {
  padding: 32px;
  background: rgba(255, 255, 255, 0.8);
  backdrop-filter: blur(10px);
  border-radius: 16px;
  &__text {
    width: 464px;
    height: 178px;
  }
}

.case-studies-block {
  width: 178px;
  height: 82px;
  padding: 18px 20px 24px;
  margin: 32px 0 24px;
  border: 1px solid #FCE0D0;
  border-radius: 10px;
}

.tag {
  width: 76px;
  height: 16px;
  padding: 10px 16px;
  background: #292929;
  border-radius: 56px;
}

.testimonials {
  z-index: -2;
  padding: 32px;
  background: #292929;
  border-radius: 16px;
  overflow: hidden;
  &__bubble {
    position: relative;
    z-index: -1;
    width: 300px;
    height: 300px;
    bottom: 600px;
    right: 100px
  }
}

.quantity {
  background: rgba(255, 255, 255, 0.8);
  backdrop-filter: blur(10px);
  border-radius: 16px;
  padding: 32px;
  &__title {
    margin: 32px 0;
  }
   
  &__link {
    display: flex;
    vertical-align: middle;
    margin-top: 24px;
    &:hover{
    color: $orange;
    }
  }

  &__arrow {
    width: 16px;
    height: 16px;
    margin-left: 8px;
  }
}

.quantity-small {
  &__img {
    margin-right: 47px;
  }
}

.quantity-big {
  &__img {
    margin-left: 185px;
   }
}

.partner-review {
  border-radius: 16px;
  padding: 32px;
  &__title {
    display: flex;
    margin: 16px 0 4px;
  }
  &__text {
    margin-left: 8px;
  }
  &__logo {
    position: relative;
    left: 60px;
    top: 25px;
  }
  &__g2 {
    background: $orange;
  }
  &__clutch {
    background: #17313B;
  }
}

.faq {
  position: relative;
  margin: 160px auto 0;
  max-width: 1312px;
  padding: 16px;
}

.question {
  display: flex;
  align-items: center;
  width:max-content;
  margin-top: 24px;
  padding: 16px 32px 16px 24px;
  border-radius: 32px;
  background: $white;
}

.question__arrow {
  margin-right: 16px;
}

.faq__orange-bubble {
  position: absolute;
  width: 160px;
  height: 160px;
  right: 208px;
  top: 158px;
}

.faq__white-bubble {
  position: absolute;
  width: 256px;
  height: 256px;
  right: 16px;
  top: 64px;
}

.seo-block {
  position: relative;
  padding: 0 16px;
}

.seo-block__container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  box-sizing: border-box;
  padding: 40px;
  margin: 160px auto 0;
  max-width: 1312px;
  border: 1px solid $typography-light-grey;
  border-radius: 24px;
  @media (max-width: 1200px) {
    margin: 128px auto 0;
  }

  @media (max-width: 850px) {
    margin: 108px auto 0;
    padding: 24px;
    align-items:flex-start;
  }
}

.seo-block__title {
  font-weight: 700;
  font-size: 36px;
  line-height: 48px;
  color: $typography-headings;
  @media (max-width: 850px) {
    max-width: 224px;
    font-weight: 600;
    font-size: 18px;
    line-height: 28px;
  }
}

.seo-block__text {
  font-weight: 400;
  font-size: 18px;
  line-height: 32px;
  color: $typography-headings;
  @media (max-width: 850px) {
    font-weight: 400;
    font-size: 16px;
    line-height: 28px;
  }
}

.seo-block__img {
  @media (max-width: 850px) {
    width: 32px;
    height: 32px;
  }
}

.seo-block__bubble_white {
  left: calc(50% - 192px/2 + 320px);
  top: calc(50% - 192px/2 + 96px);
  @media (max-width: 1200px) {
    display: none;
  }
}

.seo-block__bubble_orange {
  left: calc(50% - 160px/2 + 136px);
  top: calc(50% - 160px/2 - 92px);
  @media (max-width: 1200px) {
    display: none;
  }
}

.cta-form {
  margin-top: 160px;
  padding: 160px 0;
  background:$main-dark;
  overflow: hidden;
  &__bubble {
    &--big-grey {
      width: 460px;
      height: 460px;
      left: 1010px;
      bottom: -365px;
    }

    &--small-grey {
      width: 160px;
      height: 160px;
      left: calc(50% - 160px/2);
      top: -225px;
    }

    &--big-orange{
      width: 128px;
      height: 128px;
      right: -90px;
      top: 128px;
    }

    &--small-orange{
      width: 80px;
      height: 80px;
      left: 950px;
      bottom: 55px;
    }
  }
}

.cta-content {
  display:flex;
  justify-content: space-between;
  margin-bottom: 64px;
}

.cta-info {
  &__button{
    width: 214px;
    margin-top: 20px;
  }

  &__text{
    margin: 20px 0 40px;
  }
}

.cta-statistic {
  width: 560px;
  padding-left: 32px;
  &__item{
    display: flex;
    align-items: center;
    margin-top: 24px;
    max-height: 64px;
  }

  &__dot{
    margin: 0 32px;
    width: 8px;
    height: 8px;
    border-radius: 50%;
    background: $typography-dark-grey;
  }

  &__value{
    width: 140px;
  }

  &__title{
    margin-bottom: 8px;
  }
}

.awards {
  &__icons{
    margin-top: 32px;
  }
}

.footer {
  padding: 56px 48px 40px;
}

.footer-top {
  display: flex;
  justify-content: space-between;
  margin-bottom: 64px;
}

.footer-contacts {
  margin: 62px 0;
}

.footer-navigation {
  display: flex;
  justify-content: space-between;
}

.footer-navigation__block {
  display: flex;
  flex-direction: column;
  margin-left: 75px;
  max-height: 50px;
  min-width: 108px;
  &__text {
    margin-bottom: 8px;
  }
}

.footer-bottom {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.footer-policy {
  margin-left: 203px;
  &__link {
    margin-left: 35px;
  }
  &__link:hover{
    color: $typography-grey;
  }
}
