@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100;200;300;400;500;600;700;800;900&display=swap');

$typographyBody: #3D3D3D;
$typographyGrey: #B8B8B8;
$white: #FFFFFF;
$orange: #FF5E00;
$mainGray: #3D3D3D;
$typographyHeadings: #292929;
$mainDark: #292929;
$typographyLightGrey: #E0E0E0;
$paletteGrey: #FBFBFB;
$typographyDarkGray: #666666;


body{
    display: flex;
    flex-direction: column;
    align-items:center;
    font-family: 'Inter', sans-serif;
    margin: 0;
    padding: 0;
}
header{
    display: flex;
    position: fixed;
    justify-content: center;
    right: 0;
    left: 0;
    z-index: 1;
    height: 65px;
    color: #000;
    box-sizing: border-box;
    padding: 16px 64px;
    box-shadow: 8px 16px 32px rgb(0 0 0 /3%);
    background-color: $white;
    .content{
        display: flex;
        width: 1440px;
        flex-direction: row;
        align-items: center;
        padding: 0px;
        gap: 40px;
        justify-content: space-between;
        .logo-and-menu{
            display: flex;
            flex-direction: row;
            padding: 0px;
            align-items: center;
            gap: 40px;
            .logo{
                display: flex;
                flex-direction: row;
                align-items: center;
                width: 90px;
                height: 32px;
            }
            .menu{
                display: flex;
                flex-direction: row;
                align-items: center;
                padding: 0px;
                gap: 24px;
            }
            .nav-item{
                display: flex;
                flex-direction: column;
                align-items: center;
                box-sizing: border-box;
                padding: 0px;
                .item{
                    display: flex;
                    flex-direction: row;
                    align-items: center;
                    box-sizing: border-box;
                    padding: 0px;
                    gap: 4px;
                    color: $typographyBody;
                    font-family: Inter, sans-serif;
                    font-style: normal;
                    font-weight: 500;
                    font-size: 14px;
                    line-height: 24px;
                    vertical-align: baseline;
                }
                a:hover{
                    color: $orange;
                }
            }
            a{
                color: $typographyBody;
                font-family: Inter, sans-serif;
                font-style: normal;
                font-weight: 500;
                font-size: 14px;
                line-height: 24px;
            }
        }
        .flex-block{
            width: auto;
            margin: auto;
            background:#292929;
        }

        .buttons{
            display: flex;
            flex-direction: row;
            justify-content:flex-end;
            padding: 0px;
            gap: 16px;
            margin-left: 40px;
            .white-button{
                width: 115px;
                height: 40px;
                box-sizing: border-box;
                gap: 10px;
                background-color:$white;
                border: 1px solid #CCCCCC;
                border-radius: 6px;
            }
            .orange-button{
                width: 115px;
                height: 40px;
                gap:10px;
                background-color: $orange;
                color: $white;
                border-radius: 6px;
                border: none;
            }
        }
    }
}

.content{
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 0;
    gap: 160px;
    .home-screen{
        display: flex;
        flex-direction: row;
        align-items: center;
        padding: 80px 16px 0px;
        gap: 32px;
        .schedule-a-meeting{
            display: flex;
            flex-direction: column;
            align-items: flex-start;
            padding: 0px;
            gap: 48px;
            div{
                display: flex;
                flex-direction: column;
                align-items: flex-start;
                padding: 0px;
                gap: 24px;
            }
            h1{
                font-family: 'Inter';
                font-style: normal;
                font-weight: 700;
                font-size: 60px;
                line-height: 64px;
                color: $mainGray;
            }
            p{
                font-family: 'Inter';
                font-style: normal;
                font-weight: 400;
                font-size: 18px;
                line-height: 32px;
                color: $mainGray;
                text-decoration: none;
            }
            button{
                display:flex;
                flex-direction: row;
                justify-content: space-between;
                align-items: center;
                padding: 16px 16px 16px 24px;
                gap: 24px;
                background-color: $orange;
                color: $white;
                border-radius: 8px;
            }
        }
        .calendar{
            display: flex;
            flex-direction: row;
            justify-content: center;
            align-items:center;
            padding: 0;
            gap: 10px;
        }
        .partners{
            display: flex;
            flex-direction: column;
            padding: 0px 16px;
            gap: 12px;
        }
    }
    .how-it-works{
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        padding: 0px 16px;
        gap: 48px;
        h1{
            font-family: "Inter";
            font-style: normal;
            font-weight: 700;
            font-size: 48px;
            line-height: 56px;
            color: $typographyHeadings;
        }
        .steps{
            display: flex;
            flex-direction: column;
            align-items: flex-start;
            padding: 0px;
            gap: 1px;

            h2{
                display:flex;
                flex-direction: row;
                align-items:flex-start;
                padding: 0px;
            }
            p{
                display: flex;
                flex-direction: row;
                align-items: center;
                padding: 0px 112px 0px 32px;
            }
            
        }
        .step{
            display: flex;
            flex-direction: row;
            align-items: center;
            padding: 48px 0px;
            gap: 80px;
            border-bottom: 2px outset;
        }
        .how-it-works-button{
            display: flex;
            flex-direction: row;
            justify-content: space-between;
            align-items: center;
            padding: 16px 16px 16px 24px;
            gap: 24px;
            background-color:$orange;
            color:$white;
            border-radius: 8px;
        }
    }


    .cta-form{
        display: flex;
        justify-content: center;
        width: 100%;
        left: 0;
        right: 0;
        background-color: $mainDark;
        
        .info{
            display: flex;
            width: 1344px;
            flex-direction: column;
            justify-content: center;
            align-items:flex-start;
            padding: 160px 16px;
            width: 1344px;
            gap:64px;
            
            .contacts{
            display: flex;
            flex-direction: row;
            justify-content: space-between;
            gap: 184px;

                .content{
                    display: flex;
                    flex-direction: column;
                    align-items: flex-start;
                    gap: 32px;

                    h3{
                        font-family: Inter, sans-serif;
                        font-style: normal;
                        font-weight: 700;
                        font-size: 48px;
                        line-height: 56px;
                        color: $white;
                        margin: 0;
                        padding: 0;
                    }
                    p{
                        font-weight: 400px;
                        font-size: 16px;
                        line-height: 28px;
                        color: $typographyLightGrey;
                    }
                    button{
                        display: flex;
                        flex-direction: row;
                        align-items: center;
                        justify-content: space-around;
                        width: 214px;
                        height: 56px;
                        gap: 40px;
                        border: 1px transparent solid;
                        border-radius: 6px;
                        background-color: $orange;
                        color:$white;
                        font-weight: 600;
                        font-size: 18px;
                        line-height: 24px;
                    }
                }

                .statistic{
                    display: flex;
                    flex-direction: column;
                    align-items: flex-start;
                    gap: 32px;
                    
                    h3{
                        margin: 0;
                        padding: 0;
                        font-family: Inter, sans-serif;
                        font-style: normal;
                        font-weight: 700;
                        font-size: 24px;
                        line-height: 32px;
                        color: $typographyDarkGray;
                    }

                    .items{
                        display: flex;
                        flex-direction: column;
                        justify-content: flex-start;
                        gap:24px;
                        .point{
                            display: flex;
                            flex-direction: row;
                            justify-content: flex-start;
                            align-items:center;
                            gap: 32px;
                            
                            .value{
                                width: 140px;
                                font-family: Inter, sans-serif;
                                font-style: normal;
                                font-weight: 700;
                                font-size: 60px;
                                line-height: 64px;
                                color: $typographyDarkGray;
                            }
                            .dot{
                                width: 8px;
                                height: 8px;
                                border-radius: 50%;
                                background-color: $typographyDarkGray;
                            }
                            .name{
                               font-weight: 400;
                               font-size: 18px;
                               line-height: 168%;
                              color:$typographyDarkGray;
                            }
                        }
                    }
                }
            }

            .awards{
                display: flex;
                flex-direction: column;
                align-items: flex-start;
                padding: 0;
                gap: 32px;
                p{
                    font-family: Inter, sans-serif;
                    font-style: normal;
                    font-style: 600;
                    font-size: 18px;
                    line-height: 28px;
                    color: $paletteGrey;
                }
            }
        }
    }
}


footer{
    display: grid;
    justify-content: center;
    right: 0;
    left: 0;
    width: 1344px;
    padding: 56px 16px 40px 16px;
    gap: 80px;
    .conteiner{
        display: flex;
        flex-direction: colunm;
        gap: 80px;
        align-items:flex-start;
        a{
            font-family: Inter, sans-serif;
            font-style: normal;
            font-weight: 400;
            font-size: 14px;
            line-height: 28px;
            color: $typographyBody;
        }
        p{
            font-family: Inter, sans-serif;
            font-style: normal;
            font-weight: 600;
            font-size: 14px;
            line-height: 24px;
            color: $typographyHeadings
        }
    }
    .info{
        display: flex;
        flex-direction: column;
        justify-content: flex-start;
        gap: 64px;
        width: 224px;
        .contacts{
            display: flex;
            flex-direction: column;
            justify-content: start;
            padding: 0 32px 0 0;
            gap: 16px;
        }
    }
    .navigation{
        display: flex;
        flex-direction: row;
        justify-content: flex-end;
        gap: 75px;
        align-items:flex-start;
        
        .item{
            display: flex;
            flex-direction: column;
            justify-content: center;
            gap: 12px;
            a:hover{
                color:$orange;
            }
        }
    }
    .bottom{
        display: flex;
        flex-direction: row;
        justify-content:space-between;
        gap: 80px;
        align-items:center;
        .item{
            gap:235px;
        }
        a, p{
            font-family: Inter, sans-serif;
            font-style: normal;
            font-weight: 500;
            font-size: 12px;
            line-height: 16px;
            color: $typographyGrey;
        }
    }
}